body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: rgb(199, 232, 243);
	width: 300px;
	height: auto;
	margin: 20px;
}
body,
form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form > input {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	box-sizing: border-box;
	border-radius: 4px;
	outline: none;
	border: none;
}

button {
	color: white;
	width: 200px;
	padding: 10px;
	margin: 10px 0;
	box-sizing: border-box;
	border-radius: 4px;
	outline: none;
	border: none;
	cursor: pointer;
	background: rgb(57, 91, 80);
	transition: 0.3s ease-in-out;
	user-select: none;
}
button:hover {
	background: rgb(31, 47, 22);
}
p {
	background: black;
	border-radius: 5px;
	padding: 10px;
	color: white;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}
p:hover {
	color: grey;
}
.hidden {
	display: none;
}

table {
	border-spacing: 1;
	border-collapse: collapse;
	border-radius: 6px;
	overflow: hidden;
}

thead tr {
	height: 32px;
	background: #fafafa;
	font-size: 12px;
}
thead tr th {
    padding: 8px;
}
thead tr {
    user-select: none;
}

tbody tr {
	height: 24px;
	border-bottom: 1px solid #fafafa;
}
td {
    color: black;
    background: white;
	padding: 12px;
    border: 1px solid #fafafa;
    cursor: pointer;
    transition: 0.3s ease-in-out;
	min-width: 25px;
	max-width: 150px;
	line-break: anywhere;
}
td:hover {
    color: grey;
}
td > textarea {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 96px;
	height: auto;
    overflow: hidden;
    resize: none;
	border: none;
	outline: none;
	box-sizing: border-box;
}